{% extends 'base/base.html' %}
{% block title %}Post{% endblock title %}
{% block content %}
<div class="col-md-6 offset-md-3 mt-3 p-4 border border-3 rounded"><form method="post" enctype="multipart/form-data">  
        {% csrf_token %}  
        <div class="text-center">
            <a href="{% url 'profile' request.user.username %}"><img src="{{user.profile.profile_image.url}}" width="150px" height="150px" class="border border-3 rounded-circle object-fit-cover" style="object-position: 0% 3%;" alt=""></a>
            <h4>Post</h4>
        </div>
        <div class="my-2">
            {{ form.as_p }}  
        </div>
        <div class="text-center">
            <button type="submit" class="px-4 fs-5 py-2 btn btn-outline-secondary">Post</button>  
        </div>
    </form>  
</div>
{% endblock content %}